<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <img src="https://i.imgur.com/erbjaSg.png"/>
              
            </div>
             <div class="modal-body">
                <form (ngSubmit) = "registerCreate(dataRegister)" class="form-horizontal">
                 <div class="form-group">
                     <input type="text" class="form-control input-lg" name="nama" placeholder="Full Name" [(ngModel)]="dataRegister.NamaPenyewa"/>
                 </div>
                 <div class="form-group">
                    <input type="text" class="form-control input-lg" name="alamat" placeholder="Home Address" [(ngModel)]="dataRegister.AlamatPenyewa"/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-lg" name="email" placeholder="Email" [(ngModel)]="dataRegister.Email"/>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control input-lg" name="notelp" placeholder="Phone Number" [(ngModel)]="dataRegister.NoTelp"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="Username" [(ngModel)]="dataRegister.UserName"/>
                </div>
                 <div class="form-group">
                     <input type="password" class="form-control input-lg" name="password" placeholder="Password" [(ngModel)]="dataRegister.Password"/>
                 </div>
    
                 <div class="form-group">
                     <input type="submit" class="btn btn-block btn-lg btn-primary" value="Register"/>
                 </div>
                </form>
             </div>
             
        </div>
        <div><a>&nbsp;</a></div>
        <div><a>&nbsp;</a></div>
        <div><a>&nbsp;</a></div>
        <div><a>&nbsp;</a></div>
        <div><a>&nbsp;</a></div>
        
     </div>
    </div>
    