<form name="barangadd" (ngSubmit)="createAkun(dataAkun)" class="form-horizontal">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Tambah Akun</h3>
        </div>
        <div class="box-body">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input name ="UserName" [(ngModel)]="dataAkun.UserName"  type="text" class="form-control" id="inputEmail3" placeholder="Username">
        </div>
      </div>
    
      <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input name ="Password" [(ngModel)]="dataAkun.Password"  type="password" class="form-control" id="inputEmail3" placeholder="Password">
              </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Hak Akses</label>
                <div class="col-sm-10">
                  <input name ="HakAkses" [(ngModel)]="dataAkun.HakAkses"  type="text" class="form-control" id="inputEmail3" placeholder="Hak Akses">
                </div>
              </div>
  
            
            
            <button class="btn btn-success" type="submit" style="float:right;"> Save </button>
            </div>
            </div>
            </div>
     
    </form>