<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <app-indexheader></app-indexheader>
        <app-indexsidebar></app-indexsidebar>
        
          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
        
            <!-- Main content -->
            <section class="content">
             
             
                <router-outlet></router-outlet>
             
              <!-- Main row -->
              
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
        
         
        
          <!-- /.control-sidebar -->
          <!-- Add the sidebar's background. This div must be placed
               immediately after the control sidebar -->
          <div class="control-sidebar-bg"></div>

          <!-- Footer -->
        <!-- jika restrict:"E", cara manggilnya -->
        <app-indexfooter></app-indexfooter>

        </div>
  
</body>
</html>
  
    

    
