<!-- <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Diagnosa</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdDiagnosa}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Variasi Obat</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdVariasiObat}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Jangka Pemakaian Obat</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.JangkaPemakaianObat}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Tanggal Pemberian Obat</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.TglPemberianObat}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Diagnosa Awal</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdDiagnosaAwal}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Dosis Obat</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.DosisObat}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>



</form> -->

<div class="col-md-10">
    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Data Perawatan Diagnosa</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table">
            <tr>
              <th style="width: 10px">#</th>
              <th>Atribut</th>
              <th>Detail</th>
              
            </tr>
            <tr>
              <td>1.</td>
              <td>Kode Diagnosa Obat</td>
              <td>
                  {{dataDetail.KdDiagnosa}}
              </td>
             
            </tr>
            <tr>
              <td>2.</td>
              <td>Kode Variasi Obat</td>
              <td>
                  {{dataDetail.KdVariasiObat}}
              </td>
              
            </tr>
            <tr>
              <td>3.</td>
              <td>Jangka Pemakaian Obat</td>
              <td>
                  {{dataDetail.JangkaPemakaianObat}}
              </td>
            
            </tr>
            <tr>
              <td>4.</td>
              <td>Tanggal Pemberian Obat</td>
              <td>
                  {{dataDetail.TglPemberianObat}}
              </td>
           
            </tr>
            <tr>
                <td>5.</td>
                <td>Kode Diagnosa Awal</td>
                <td>
                    {{dataDetail.KdDiagnosaAwal}}
                </td>
               
              </tr>

              <tr>
                  <td>6.</td>
                  <td>Dosis Obat</td>
                  <td>
                      {{dataDetail.DosisObat}}
                  </td>
                 
                </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>