<form name="datasewaadd" (ngSubmit)="createDataSewa(dataSewa)" class="form-horizontal">
    
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Tambah Data Sewa</h3>
        </div>
        <div class="box-body">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kode Data Sewa</label>
        <div class="col-sm-10">
          <input name ="KdDataSewa" [(ngModel)]="dataSewa.KdDataSewa"  type="text" class="form-control" id="inputEmail3" placeholder="Kode Data Sewa">
        </div>
      </div>
    
      <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Username Pegawai</label>
              <div class="col-sm-10">
                <input name ="UserNamePegawai" [(ngModel)]="dataSewa.UserNamePegawai"  type="text" class="form-control" id="inputEmail3" placeholder="Kode Pegawai">
              </div>
            </div>
  
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Username Penyewa</label>
              <div class="col-sm-10">
                <input name ="UserNamePenyewa" [(ngModel)]="dataSewa.UserNamePenyewa"  type="text" class="form-control" id="inputEmail3" placeholder="Kode Penyewa">
              </div>
            </div>
  
  
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Kode Barang</label>
              <div class="col-sm-10">
                <input name ="KdBarang" [(ngModel)]="dataSewa.KdBarang"  type="text" class="form-control" id="inputEmail3" placeholder="Kode Barang">
              </div>
            </div>
  
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Status Data Sewa</label>
              <div class="col-sm-10">
                <input name ="StatusDataSewa" [(ngModel)]="dataSewa.StatusDataSewa"  type="text" class="form-control" id="inputEmail3" placeholder="Status Data Sewa">
              </div>
            </div>
  
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Tanggal Mulai</label>
              <div class="col-sm-4">
                <input name ="TglMulai" [(ngModel)]="dataSewa.TglMulai"  type="date" class="form-control" id="inputEmail3" placeholder="Tanggal Mulai">
              </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Tanggal Selesai</label>
                <div class="col-sm-4">
                  <input name ="TglSelesai" [(ngModel)]="dataSewa.TglSelesai"  type="date" class="form-control" id="inputEmail3" placeholder="Tanggal Selesai">
                </div>
              </div>

              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Jumlah Barang</label>
                  <div class="col-sm-10">
                    <input name ="JumlahBarang" [(ngModel)]="dataSewa.JumlahBarang"  type="text" class="form-control" id="inputEmail3" placeholder="Jumlah Barang">
                  </div>
                </div>
  
            
            
            <button class="btn btn-success" type="submit" style="float:right;"> Save </button>
            </div>
            </div>
            </div>
     
    </form>