<!-- <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Perawatan</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.kdPerawatan}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Nama Perawatan</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.NamaPerawatan}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

</form> -->

<div class="col-md-10">
    <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Data Perawatan</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table">
            <tr>
              <th style="width: 10px">#</th>
              <th>Atribut</th>
              <th>Detail</th>
              
            </tr>
            <tr>
              <td>1.</td>
              <td>Kode Perawatan</td>
              <td>
                  {{dataDetail.kdPerawatan}}
              </td>
             
            </tr>
            <tr>
              <td>2.</td>
              <td>Nama Perawatan</td>
              <td>
                  {{dataDetail.NamaPerawatan}}
              </td>
              
            </tr>
           
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>