<aside class="main-sidebar" id="sideul">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- search form -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" >
      <li class="header">MAIN NAVIGATION</li>

      <!-- <li>
           <i *ngIf='document.cookie=="" ; else nologin'>
            <a routerLink="/login"> <i></i> <span> Login </span> </a>
           </i>
         <ng-template #nologin>
          
            <a routerLink="/"><i class="fa fa-calendar"></i> <span> Logout </span></a>
          
         </ng-template>
         
      </li> -->

      <!-- <li>
        <a routerLink="/login">
            <i class="glyphicon glyphicon-log-in"></i> <span>Log-in</span>
          </a>
      </li> -->


      <!-- <li>
        <a routerLink="">
           <i class="glyphicon glyphicon-home"></i> <span>Home</span>
        </a>
      </li>
      <li> -->

          <!-- <li>
              <a routerLink="/akun">
                 <i class="fa fa-users"></i> <span>Akun</span>
              </a>
            </li>
            <li> -->

      <li>
        <a routerLink="/penyewa">
           <i class="glyphicon glyphicon-user"></i> <span>Penyewa</span>
        </a>
      </li>
      <li>

          <li>
              <a routerLink="/pegawai">
                 <i class="fa fa-user-secret"></i> <span>Pegawai</span>
              </a>
            </li>
            <li>

                <li>
                    <a routerLink="/kategori">
                       <i class="fa fa-tasks"></i> <span>Kategori</span>
                    </a>
                  </li>
                  <li>

          <li>
              <a routerLink="/barang">
                 <i class="fa fa-car"></i> <span>Barang</span>
              </a>
            </li>
            <li>

                <li>
                    <a routerLink="/pembayaran">
                       <i class="fa fa-dollar"></i> <span>Pembayaran</span>
                    </a>
                  </li>
                  <li>

                <li>
                    <a routerLink="/datasewa">
                       <i class="glyphicon glyphicon-tags"></i> <span>Data Sewa</span>
                    </a>
                  </li>
                  <li>

                      <li>
                          <a routerLink="/denda">
                             <i class="fa fa-sticky-note"></i> <span>Denda</span>
                          </a>
                        </li>
                        <li>

                           

     

          

            <!-- <li>
                <a class ="btn btn-danger" (click)= "logout()" ><span class="glyphicon glyphicon-log-out">Log-out</span></a> 
              </li> -->

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>