<form (ngSubmit)="createPerawatan(kdPerawatan,NamaPerawatan)" class="form-horizontal">
  <div class="col-md-10">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Perawatan Edit</h3>
      </div>
      <div class="box-body">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Perawatan</label>
    <div class="col-sm-10">
      <input name ="kdPerawatan" [(ngModel)]="kdPerawatan"  type="text" class="form-control" id="inputEmail3" placeholder="Kode Perawatan">
    </div>
  </div>

  <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Nama Perawatan</label>
          <div class="col-sm-10">
            <input name ="NamaPerawatan" [(ngModel)]="NamaPerawatan"  type="text" class="form-control" id="inputEmail3" placeholder="Nama Perawatan">
          </div>
        </div>
        
        <button class="btn btn-success" type="submit"> Save </button>
 
        </div>
        </div>
        </div>
</form>