<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Data Barang</h3>

      <div class="box-tools pull-right">
        <a class="btn btn-sm btn-info btn-flat" (click)="barangTambah()" data-toggle="modal" data-target="#tambahbarang"><span> Tambah Barang</span></a>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <table id="example" class="table table-striped table-bordered" *ngIf="this.temp_var">
        <thead>
          <tr>
            <th>Nama Barang</th>
            <th>Nama Kategori</th>
            <th>Jumlah Barang</th>
            <th>Harga Sewa (/hari)</th>
            <th data-orderable="false">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.dataBarang">

            <td>{{item.NamaBarang}}</td>
            <td>{{item.KategoriInfo.NamaKategori}}</td>
            <td>{{item.JumlahBarang}}</td>
            <td>{{item.HargaSewa}}</td>
            <td>
              <a class="label label-success" (click)="barangModal(item._id)" data-toggle="modal" data-target="#modaldetail"><span class="glyphicon glyphicon-search"></span></a>
              <a class="label label-info" (click)="barangModal(item._id)" data-toggle="modal" data-target="#modaledit"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="label label-danger" (click)="barangDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></a>
            </td>

          </tr>

        </tbody>
      </table>


      <!-- ./box-body -->
    </div>
    <!-- /.box-footer -->
  </div>

  <!-- Barang Detail Modal -->

  <div class="modal fade" id="modaldetail" tabindex="-1" role="dialog" aria-labelledby="modaldetailtitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title" id="modaldetailtitle">Data Barang</h4>
        </div>
        <div class="modal-body">

          <!-- <div class="col-md-10">
                              <div class="box box-info">
                                  <div class="box-header with-border">
                                    <h3 class="box-title">Data Barang</h3>
                                  </div>
                                  
                                  <div class="box-body"> -->
          <table class="table" *ngIf="dataDetail">
            <tr>
              <th style="width: 10px">#</th>
              <th>Atribut</th>
              <th>Detail</th>

            </tr>
            <tr>
              <td>1.</td>
              <td>Kode Barang</td>
              <td>{{dataDetail.KdBarang}}

              </td>

            </tr>
            <tr>
              <td>2.</td>
              <td>Nama Barang</td>
              <td>
                {{dataDetail.NamaBarang}}
              </td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Kode Kategori</td>
              <td>
                {{dataDetail.KdKategori}}
              </td>

            </tr>
            <tr>
              <td>4.</td>
              <td>Harga Sewa (/hari)</td>
              <td>
                {{dataDetail.HargaSewa}}
              </td>

            </tr>
            <tr>
              <td>5.</td>
              <td>Status Barang</td>
              <td>
                {{dataDetail.StatusBarang}}
              </td>

            </tr>

            <tr>
              <td>6.</td>
              <td>Jumlah Barang</td>
              <td>
                {{dataDetail.JumlahBarang}}
              </td>

            </tr>

            <tr>
              <td>7.</td>
              <td>Harga Denda (/hari)</td>
              <td>
                {{dataDetail.HargaDenda}}
              </td>

            </tr>

            <tr>
              <td>8.</td>
              <td>Foto</td>
              <td>
                {{dataDetail.Foto}}
              </td>

            </tr>
          </table>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Barang Edit Modal -->

  <div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Edit Barang</h4>
        </div>
        <form role="form" *ngIf="dataEdit">
          <div class="modal-body">

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Kode Barang</label>
                <input disabled name="KdBarang" [(ngModel)]="dataEdit.KdBarang" type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Nama Barang</label>
                <input name="NamaBarang" [(ngModel)]="dataEdit.NamaBarang" type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Kode Kategori</label>
                <div>
                  <select class="form-control" [(ngModel)]="dataEdit.KdKategori" [ngModelOptions]="{standalone: true}">  
                                            <option value="0" selected="selected">--Select Kategori--</option>  
                                            <option selected="selected" *ngFor="let item of KategoriBarang" value={{item.KdKategori}}>{{item.NamaKategori}}</option>  
                                            </select>
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="control-label">Harga Sewa (/hari)</label>
                <input name="HargaSewa" [(ngModel)]="dataEdit.HargaSewa" type="text" class="form-control" placeholder="">
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Status Barang</label>
                <input name="StatusBarang" [(ngModel)]="dataEdit.StatusBarang" type="text" class="form-control" placeholder="">
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="control-label">Jumlah Barang</label>

                <input name="JumlahBarang" [(ngModel)]="dataEdit.JumlahBarang" type="text" class="form-control" placeholder="">
              </div>

              <div class="form-group">

                <label for="inputEmail3" class="control-label">Harga Denda (/hari)</label>
                <input name="HargaDenda" [(ngModel)]="dataEdit.HargaDenda" type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">

                <label for="inputEmail3" class="control-label">Foto (Link)</label>
                <input name="Foto" [(ngModel)]="dataEdit.Foto" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-success" (click)="barangEdit(dataEdit._id,dataEdit)" type="submit" style="float:right;"> Save </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Barang Tambah -->

  <div class="modal fade" id="tambahbarang" tabindex="-1" role="dialog" aria-labelledby="modaldetailtitle" *ngIf="dataBarangTambah">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="box-title">Tambah Barang</h3>
        </div>

        <form name="barangadd" (ngSubmit)="createBarang(dataBarangTambah)" role="form">

          <div class="modal-body">

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Kode Barang</label>
                <input name="KdBarang" [(ngModel)]="dataBarangTambah.KdBarang" type="text" class="form-control" id="inputEmail3" placeholder="Kode Barang">
              </div>
              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Nama Barang</label>

                <input name="NamaBarang" [(ngModel)]="dataBarangTambah.NamaBarang" type="text" class="form-control" id="inputEmail3" placeholder="Nama Barang">

              </div>
              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Kode Kategori</label>

                <select name="KdKategori" class="form-control" [(ngModel)]="dataBarangTambah.KdKategori" [ngModelOptions]="{standalone: true}">  
                                            <option value="0"selected="selected">--Select Kategori--</option>  
                                            <option *ngFor="let item of KategoriBarang" value={{item.KdKategori}}>{{item.NamaKategori}}</option>  
                                            </select>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Harga Sewa (/hari)</label>

                <input name="HargaSewa" [(ngModel)]="dataBarangTambah.HargaSewa" type="text" class="form-control" id="inputEmail3" placeholder="Harga Sewa">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Status Barang</label>

                <input name="StatusBarang" [(ngModel)]="dataBarangTambah.StatusBarang" type="text" class="form-control" id="inputEmail3"
                  placeholder="Status Barang">

              </div>

              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Jumlah Barang</label>

                <input name="JumlahBarang" [(ngModel)]="dataBarangTambah.JumlahBarang" type="text" class="form-control" id="inputEmail3"
                  placeholder="Jumlah Barang">

              </div>

              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Harga Denda (/hari)</label>
                <input name="HargaDenda" [(ngModel)]="dataBarangTambah.HargaDenda" type="text" class="form-control" id="inputEmail3" placeholder="Harga Denda">
              </div>
              <div class="form-group">
                <label for="inputEmail3" class=" control-label">Foto (Link)</label>
                <input name="Foto" [(ngModel)]="dataBarangTambah.Foto" type="text" class="form-control" id="inputEmail3" placeholder="Link Foto">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" style="float:right;"> Save </button>

          </div>
        </form>
      </div>
    </div>
  </div>