<form nama="barangedit"  action ="" class="form-horizontal" *ngIf="dataEdit">
  
      <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Barang Edit</h3>
            </div>
            <div class="box-body">
    <div class="form-group" >
      <label for="inputEmail3" class="col-sm-2 control-label">Kode Barang</label>
      <div class="col-sm-10">
        <input  name= "KdBarang" [(ngModel)]="dataEdit.KdBarang" type="text" class="form-control"  placeholder="">
      </div>
    </div>
  
    <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nama Barang</label>
            <div class="col-sm-10">
              <input name = "NamaBarang" [(ngModel)]="dataEdit.NamaBarang" type="text" class="form-control"  placeholder="">
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Kode Kategori</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="dataEdit.KdKategori" [ngModelOptions]="{standalone: true}">  
                <option value="0" selected="selected">--Select Kategori--</option>  
                <option selected="selected" *ngFor="let item of KategoriBarang" value={{item.KdKategori}}>{{item.NamaKategori}}</option>  
                </select>
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Harga Sewa</label>
            <div class="col-sm-10">
              <input name = "HargaSewa" [(ngModel)]="dataEdit.HargaSewa" type="text" class="form-control"  placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Status Barang</label>
            <div class="col-sm-10">
              <input name = "StatusBarang" [(ngModel)]="dataEdit.StatusBarang" type="text" class="form-control"  placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Jumlah Barang</label>
            <div class="col-sm-10">
              <input name = "JumlahBarang" [(ngModel)]="dataEdit.JumlahBarang" type="text" class="form-control"  placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Harga Denda</label>
            <div class="col-sm-10">
              <input name = "HargaDenda" [(ngModel)]="dataEdit.HargaDenda" type="text" class="form-control"  placeholder="">
            </div>
          </div>
  
         
          
          <button class="btn btn-success" (click)= "barangEdit(dataEdit._id)" type="submit" style="float:right;"> Save </button>
          </div>
          </div>
          </div>
  </form>