<!-- <div>
  <a class ="btn btn-success" [routerLink]="['./add']"><span class="glyphicon glyphicon-plus"></span></a>
<table class="table">
<tr>
<td> Kode Diagnosa </td>
<td> Kode Variasi Obat </td>
<td> Aksi </td>
</tr>
<tr *ngFor="let item of dataPerawatanDiagnosa">
<td> {{item.KdDiagnosa}}</td>
<td>{{item.KdVariasiObat}}</td>
<td>
    <a class ="btn btn-success" [routerLink]="['./detail/'+item._id]"><span class="glyphicon glyphicon-search"></span></a>
    <a class ="btn btn-info" [routerLink]="['./edit/'+item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class ="btn btn-danger" (click)= "perawatanDiagnosaDelete(item._id)" ><span class="glyphicon glyphicon-trash"></span></a>      
</td>
</tr>
</table>
</div>
 -->


 <!-- TABLE: LATEST ORDERS -->
<div class="col-md-10">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Perawatan Diagnosa</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <a class ="btn btn-sm btn-info btn-flat" [routerLink]="['./add']"><span> Tambah Perawat</span></a>
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th>Kode Diagnosa</th>
              <th>Kode Variasi Obat</th>
              <th>Jangka Pemakaian Obat</th>
              <th>Tanggal Pemberian Obat</th>
              <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataPerawatanDiagnosa">
              <td>{{item.KdDiagnosa}}</td>
              <td>{{item.KdVariasiObat}}</td>
              <td>{{item.JangkaPemakaianObat}}</td>
              <td>{{item.TglPemberianObat}}</td>
              <td>
                <a class ="label label-success" [routerLink]="['./detail/'+item._id]"><span class="glyphicon glyphicon-search"></span></a>
                <a class ="label label-info" [routerLink]="['./edit/'+item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class ="label label-danger" (click)= "perawatanDiagnosaDelete(item._id)" ><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>       
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <!-- <a href="" class="btn btn-sm btn-info btn-flat pull-left">Tambah Perawatan</a> -->
        <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a> -->
      </div>
      <!-- /.box-footer -->
    </div>
  </div>

