<!-- <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Pendaftaran</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdPasien}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Pasien</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdPasien}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Rumah Sakit</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdRumahSakit}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Kode Ruang Diagnosa</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.KdRuangDiagnosa}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Tanggal Pendaftaran</label>
    <div class="col-sm-6">
      <input value="{{dataDetail.TglPendaftaran}}" type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>


</form> -->

<div class="col-md-10">
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Data Pendaftaran</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table">
        <tr>
          <th style="width: 10px">#</th>
          <th>Atribut</th>
          <th>Detail</th>
          
        </tr>
        <tr>
          <td>1.</td>
          <td>Kode Pendaftaran</td>
          <td>
              {{dataDetail.KdPendaftaran}}
          </td>
         
        </tr>
        <tr>
          <td>2.</td>
          <td>Kode Pasien</td>
          <td>
              {{dataDetail.KdPasien}}
          </td>
          
        </tr>
        <tr>
          <td>3.</td>
          <td>Kode Rumah Sakit</td>
          <td>
              {{dataDetail.KdRumahSakit}}
          </td>
        
        </tr>
        <tr>
          <td>4.</td>
          <td>Kode Ruang Diagnosa</td>
          <td>
              {{dataDetail.KdRuangDiagnosa}}
          </td>
       
        </tr>
        <tr>
            <td>5.</td>
            <td>Tanggal Pendaftaran</td>
            <td>
                {{dataDetail.TglPendaftaran}}
            </td>
           
          </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>
 